:root {
    --color-light: #e9ecef;
    --color-mid: #ced4da;
    --color-dark: black;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('/img/346464.jpg');
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    border: solid var(--color-dark) 5px;
    border-radius: 30px;
    background-color: rgb(0,0,0,0.4);
    align-content: start;
    justify-items: center;
    margin: 5vh 10vw;
    width: fit-content;
    padding: 0 5vw;
}

.container > h1 {
    font-size: 40px;
    color: var(--color-light);
}

.game-board {
    border: solid var(--color-dark) 3px;
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);
    justify-content: center;
}

.button-bar {
    margin-bottom: 20px;
}

.button-bar > button {
    font-size: 20px;
    padding: 10px 30px;
}

.game-cell {
    border: solid var(--color-dark) 3px;
    background-image: url('/img/yellow-comic.jpg');
    background-position: center;
    background-size: cover;
    display: grid;
    align-items: center;
    justify-items: center;
}

.game-cell > img {
    width: 75%;
    height: 75%;
}

.xhide {
    visibility: hidden;
}